header{
    display:grid;
    grid-template-columns: auto 44px;
}
header button{
    height:44px;
    width:44px;
    font-size:2rem;
}
nav{
    position: absolute;
    top:70px;
    right:0;
}